.slider__pagination {
    margin: 29px auto 33px auto;
    position: relative;
}

.swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    opacity: 1;
    background-color: #7557FF;
    color: #7557FF;
    transition: all .2s ease-in-out;
}

.swiper-pagination-bullet-active {
    width: 23px;
    border-radius: 100px;
}

@media (min-width: 1200px) {
    .slider__pagination {
        margin: -10px 0 0 0;
    }

    .swiper-pagination-lock {
        display: block;
    }
    
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 0;
    }
}